.border-b {
  /* border-bottom-width: 1px; */
  border-width: 0px 0px 2px 0px;
}

.border-solid {
  border-style: solid;
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgb(229 231 235 / var(--tw-border-opacity));
}

.flex {
  display: flex;
}

.grow {
  flex-grow: 1;
}

button {
  background: #fff;
  font: inherit;
  cursor: pointer;
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}